<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        #img {width: 100px;height: 100px}
    </style>
  </head>
  <body>
  <p id="progress"></p>
    <input type="file" id="fileupload" name="test">
    <span id="up">点击上传</span>
    <p id="name"></p>
    <img id="img"/>
  </body>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/javascripts/jquery.fileupload.js"></script>

<script type="text/javascript">
$('#fileupload').fileupload({
    url :'/fileup',
    dataType: 'json',
    formData:{},
    done: function (e, data) {
        $.each(data.result, function (index, file) {
            $('<p/>').text(file.name + ' uploaded').appendTo($("body"));
        });
    	alert("ok");        
    },
    change : function(e, data){
        console.log(data)
        var reader=new FileReader();
        reader.readAsDataURL(data.files[0]);
        reader.onloadend=function(){
            // 获取图片路径
            console.log(this.result);
            $("#img").attr("src",this.result);
        }
        
        // console.log($(window).URL.createObjectURL(data.files[0].file));
        console.log(data);
    },
    add: function (e, data) {           
        $("#up").click(function(){  
            console.log(1);      	
        	data.submit();
        });
    },
    fail : function(e, data){
        alert("upload error");
    },
    progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
		console.log(progress);
        $("#progress").text(progress);
    },
    // dropZone: $('#dropzone')
});
  
</script>

</html>
